.center_card {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background: rgb(57,197,187);
    background: linear-gradient(0deg, rgba(57,197,187,0.1) 0%, rgba(111,211,204,0.15) 6%, rgba(244,244,245,1) 100%);
}

.intro_card {
    height: 200px;
    width: 580px;
    padding: 0px 0px 50px 60px;
    user-select: none;
    font-size: 25px;
    font-family: __Manrope_26b30e,__Manrope_Fallback_26b30e,system-ui,-apple-system,PingFang SC,"Microsoft YaHei",Segoe UI,Roboto,Helvetica,noto sans sc,hiragino sans gb,"sans-serif",Apple Color Emoji,Segoe UI Emoji,Not Color Emoji;
}

.text_row p {
    display: inline-block;
    font-weight: normal;
    margin-top: 10px;
}

.text_row .name {
    font-weight: bolder;
    margin-left: 10px;
}

.text_row .profession {
    font-weight: normal;
    text-wrap: nowrap;
    padding: 0px 4px 4px 4px;
    margin-left: 5px;
}

.text_row .profession:hover {
    background-color: #00000018;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.text_row .at {
    font-size: large;
    font-family: emoji;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile_img {
    height: 200px;
    width: 200px;
    padding: 0px 60px 50px 0px;
    user-select: none;
}

.profile_img img {
    border-radius: 50%;
    border: 1px solid #ddd;
    user-select: none;
    -webkit-user-drag: none;
}