@keyframes animate {
    0% {
        opacity: 0;
    }
    20% {
        opacity: .6;
        transform: translateY(3px);
    }
    80% {
        opacity: .6;
        transform: translateY(3px);
    }
    100% {
        opacity: 0;
    }
}

.center_card {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background: rgb(57,197,187);
    background: linear-gradient(0deg, rgba(57,197,187,0.1) 0%, rgba(111,211,204,0.15) 6%, rgba(244,244,245,1) 100%);
}

.intro_card {
    height: 200px;
    width: 580px;
    padding: 0px 0px 50px 60px;
    user-select: none;
    font-size: 25px;
    font-family: __Manrope_26b30e,__Manrope_Fallback_26b30e,system-ui,-apple-system,PingFang SC,"Microsoft YaHei",Segoe UI,Roboto,Helvetica,noto sans sc,hiragino sans gb,"sans-serif",Apple Color Emoji,Segoe UI Emoji,Not Color Emoji;
}

.text_row p {
    display: inline-block;
    font-weight: normal;
    margin-top: 10px;
}

.text_row .name {
    font-weight: bolder;
    margin-left: 10px;
}

.text_row .profession {
    font-weight: bolder;
    text-wrap: nowrap;
    padding: 0px 4px 4px 4px;
    margin-left: 5px;
}

.text_row .profession:hover {
    background-color: #00000018;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.text_row .at {
    font-size: large;
    font-family: emoji;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile_img {
    height: 200px;
    width: 200px;
    padding: 0px 60px 50px 0px;
    user-select: none;
}

.profile_img img {
    border-radius: 50%;
    border: 1px solid #ddd;
    user-select: none;
    -webkit-user-drag: none;
}

.icon_container {
    height: 40px;
    width: 100%;
    padding-top: 10px;
}

.icon_container a {
    display: inline-block;
    height: 100%;
    width: 40px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    line-height: 43px;
    transition: all 0.5s ease;
}

.icon_container a:hover {
    /* shadow when hover */
    background-color: #000000e5;
    box-shadow: 0px 0px 5px 0px #000000;
}

.icon_container a:not(:first-child) {
    margin-left: 10px;
}

.icon_container a i::before {
    color: #ffffff;
}

.bottom_container {
    display: block;
    position: absolute;
    bottom: 25px;
    width: 80px;
    height: 42px;
}

.bottom_container div {
    display: block;
    width: 100%;
    height: 14px;
    text-align: center;
    font-size: large;
}

.bottom_container div i::before {
    color: #39c5bcbe;
}

.bottom_container div:nth-child(2) {
    animation-delay: 0.2s;
}
.bottom_container div:nth-child(3) {
    animation-delay: 0.4s;
    font-size: x-large;
}
.animation {
    animation: animate 2s ease-in-out infinite;
}