.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.center_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    height: 91%;
    display: flex;
    flex-direction: row break;
}

.profile_img_container {
    margin-right: 30px;
}

.profile_img {
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.aboutme_article {
    width: 100%;
    font-size: large;
    border-color: #b3b3b3;
    border-radius: 0.375rem;
    border-style: solid;
    border-width: max(1px, 0.0625rem);
    padding: 10px;
}

.aboutme_article p {
    line-height: 1.5;
    word-wrap: break-word;
}