.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.center_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 85px;
    text-align: center;

}