.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(118,255,134);
    background: linear-gradient(307deg, rgb(174 247 183 / 64%) 0%, rgb(152 255 247 / 48%) 25%, rgb(199 226 255 / 35%) 52%, rgb(244 237 255 / 74%) 82%, rgb(240 138 255 / 11%) 100%);
    z-index: 0;
}

.center_container {
    position: relative;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_container {
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    backdrop-filter: blur(1px);
    transform: translateY(-20px);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(0,0,0,.2) 0 0 8px 4px;
    transition: all 0.7s ease-in-out;
    width: 230px;
    max-width: 500px;
}

.search_container:hover {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.35);
}

.search_container:hover .engine_icon_container {
    opacity: 1;
}

.search_container:focus-within {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.35);
}

.search_container:focus-within .engine_icon_container {
    opacity: 1;
}

.search_input {
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    background-color: #ffffff00;
    text-align: center;
    caret-color: #4f4f4f;
    color: #4f4f4f;
}

.search_container:hover .search_input {
    width: 100% - 20px;
}

.search_container:focus-within .search_input {
    width: 100% - 20px;
}

.search_url_container {
    width: 5%;
    height: 48px;
    transition: all 1s ease-in-out;
    margin-right: 15px;
    align-items: center;
    display: flex;
    font-size: small;
    opacity: 0;
}

.url {
    width: 110px;
    height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    text-align: center;
    line-height: 18px;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(145, 145, 145, 0.329);
}

.search_container:hover .search_url_container {
    opacity: 1;
    width: 120px;
}

.search_container:focus-within .search_url_container {
    opacity: 1;
    width: 120px;
}

.search_icon_container {
    width: 5%;
    height: 100%;
    transition: all 0.1s ease-in-out;
    margin-right: 15px;
    align-items: center;
    display: flex;
    opacity: 0;
}

.search_container:hover .search_icon_container {
    opacity: 1;
}

.search_container:focus-within .search_icon_container {
    opacity: 1;
}

.search_container svg {
    width: 20px;
    height: 20px;
    fill: #504d4d;
}

.shortcut_container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #b8b8b863;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: rgba(0,0,0,.2) 2px 2px 3px 2px;
    width: 80%;
    border-radius: 20px;
    z-index: 1;
}

.shortcut_item {
    width: 50px;
    height: 50px;
    padding: 13px 15px 17px 15px;
    margin: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: xxx-large;
}