* {
    margin: 0;
    padding: 0;
    cursor: url("../../public/cursor.png"), default;
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: __Manrope_26b30e,__Manrope_Fallback_26b30e,system-ui,-apple-system,PingFang SC,"Microsoft YaHei",Segoe UI,Roboto,Helvetica,noto sans sc,hiragino sans gb,"sans-serif",Apple Color Emoji,Segoe UI Emoji,Not Color Emoji;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}