.FootContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background: rgb(255,240,255);
    background: linear-gradient(127deg, rgba(255,240,255,1) 0%, rgba(255,255,255,1) 75%);
}