.FootContainer {
    align-content: center;
    height: 100vh;
    background: rgb(172,137,249);
    background: linear-gradient(0deg, rgba(156, 230, 255, 0.266) 0%, rgba(255,255,255,0) 52%, rgba(216,255,167,0.13) 100%);
}

.timelineContainer {
    position: relative;
    height: 90%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.timelineContainer .titile {
    font-size: 2rem;
    font-weight: 700;
    color: #39c5bb;
    margin-top: 2rem;
}

.timelineItem {
    position: relative;
    list-style: none;
    line-height: 1.6;
    padding: 30px 0;
    margin: 0 0 0 1rem;
}

.timelineItem:not(:first-child):not(:last-child):before {
    top: 0;
}

.timelineItem:first-child:before {
    top: 50%;
}

.timelineItem:last-child:before {
    bottom: 50%;
    top: 0;
}

.timelineItem:before {
    content: "";
    position: absolute;
    left: -19px;
    bottom: 0;
    border-left: 2px solid #39c5bb;
}

.timelineItem:after {
    content: "";
    left: calc(-1rem - 6px);
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: #39c5bb;
}

.iconContainer {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    line-height: 1.6rem;
    transform: translateY(4px);
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #39c5bb;
}

.iconContainer i::before {
    color: #39c5bb;
}

.time {
    display: inline-block;
    margin: 0 5px;
}

.description {
    display: inline-block;
}